doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Robotics WebRTC
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Robotics WebRTC
        main
            div#welcome
                form
                    input(placeholder="room name", required, type="text")
                    button Enter room
                h4 Open Rooms List (Create or Join a room):
                ul
            div#room
                h3
                form#name
                    h4 Current your nickname: 
                    input(placeholder="nickname", required, type="text")
                    button Save
                div#call
                    div#myStream
                        div#videoContainer(style="display: flex; gap: 10px;")
                            video#myFace(autoplay, playsinline, width="400", height="400")
                            video#peerFace(autoplay, playsinline, width="400", height="400")
                        button#mute Unmute
                        button#camera Turn Camera On
                        select#cameras
                ul
                form#msg
                    input(placeholder="message", required, type="text")
                    button Send
                button#leave Leave Room

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
