doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Robotics WebRTC
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Robotics WebRTC
        main
            h2 Welcome to Robotics WebRTC
            p This is a simple WebRTC application for robotics.
        script(src="/public/js/app.js")